
  
  #gioithieu {
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 1;
    margin-bottom: 2%;;
    margin-right:200px;
    margin-left: 200px;
    margin-top: 150px;
  }
  .form-group{
    width: 30%; /* kích thước chiều rộng trang web */
      float: left;/* canh div từ trái sang */
    margin: 15px;
  }
  .form-group input{
    background-color:transparent;
    color: #000;
    margin-top:10px;
    font-size: 20px;
    height: 40px;
    padding: 0 16px;
    width: 95%;}
    
  .button .choose {
    background-color: #39a388;
    border:none;
    color: #fff;
    height: 50px;
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin-top:10px;
    margin-left: 25%;
  }
  .datban{
    background:url(images/bgv.jpg); 
  background-size: cover;
  }
  .datban h2{
    font-family:  arial , Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
  }
  .nutmau {
    text-align: center;
    margin-top: -100px;
    
}

.nutmau button {
width: 15px; 
height: 15px;
margin: 10px;
border-radius: 50%;

}

  