
footer{
    position: relative;
    width: 100%px;
    height: 120px;
    padding: 50px ;
    background: #111;
}
footer .container{
    display: flex;
   align-items: stretch;
   justify-content: space-around;
}
.container{
   color: rgb(255, 255, 255);
}
.link ul li a{
   color:rgb(255, 255, 255)
}