/*==Reset CSS==*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: rgb(32, 8, 8);
}

header ul li .logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150%;
}

header {
    width: 100%;
    height: 100px;
    background: rgb(70, 236, 95);
}

header ul {
    background: #1f578b00;
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

header ul li {
    color: #f1f1f1;
    display: inline-table;
    width: 110px;
    height: 0px;
    line-height: 40px;
    position: relative;
}

header ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    border-radius: 5px;
    transition-duration: 0.3s;
}

header ul li a:hover {
    background: rgba(255, 255, 255, 0.836);
    color: rgb(0, 0, 0);
}

header ul li>.sub-nav {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
}

header ul li:hover .sub-nav {
    display: block;
    background-color: rgb(148, 224, 138);
}